.footer {
  padding: 2rem 0;
  border-top: 3px solid #62B9B9;

  &__nav {
    max-width: max-content;
  }

  &__list {
    display: flex;
    flex-direction: column;
    @include wideScreen {
      flex-direction: row;
    }
  }

  &__item {
    list-style-type: none;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
      @include wideScreen {
        margin-right: 3rem;
      }
    }
  }

  &__link {
    text-decoration: none;
  }
}
